.container {

  width: 70%;
  height: 24vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #0c0c0c;
 
}


.hours {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  h6 {
    text-transform: uppercase;
  }

  img {
    width: 1.7rem;
    margin-right: 0.6rem;
  }
}

.header {
  font-size: 0.9rem;
  color:#fff;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0.4rem;
  
}

.p{
  color:#fff;
  font-family: 'Comfortaa', cursive;
}

.logos__container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-start;
}

a[href^="tel:"] {
  text-decoration: none;
  color: #DCCA87;
}

a[href^="tel:"]:before {
  content: "\2713";
  margin-right: 0.5em;
}

