.container {
  width: 100%;
<<<<<<< HEAD

  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: #0C0C0C;

=======
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 16, 16);
>>>>>>> cartOrder
}

.footer__link {
  width: 2.5rem;
}

.hours {
  display: flex;
  flex-direction: column;
}


.hours{
  display: flex;
  flex-direction: column;

  // .header{
  //   font-weight: medium;
  //   // font-size: 1rem;
  // }
  
}

