.container {

  width: 70%;
  height: 24vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #0c0c0c;
}


.hours {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  h6 {
    text-transform: uppercase;
  }

  img {
    width: 1.7rem;
    margin-right: 0.6rem;
  }
}

.header {
  font-size: 0.9rem;
  
}

.logos__container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: start;
}

