.main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 70%;
  margin: 0 auto;

  
}

.about__img {
  background: url('https://psv4.userapi.com/c520036/u144953147/docs/d43/d2be4e3e2568/Image.png?extra=hY2Od32fr1v2fGCsWitKHHqN8kJRqXM8yecmp7JSoWkgmXI0aoDmQFlU4Eww3M5qg_ArPUNfCb848TvZ99pu8HbkRY4HrpBB45KcbLnBXCGIwKHlA-2skYfPoAPU87ZbzKKfAyO5ryKOGp8fHjCNY2Ii') no-repeat
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 20rem;
  width: 50%;
  height: 70%;
  margin-right: 6rem;
}

.text_container {
  width: 50%;
  margin-right: 2rem;
}

.about__title {
  color: #DCCA87;
  font-size: 3rem;
}

.about__text {
  color: #AAAAAA;
  font-size: 1.3rem;
}

.about__btn {
  margin-top: 0.8rem;
  position: relative;
  background: none;
  padding: 0.4rem;
}

.about__btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.about__btn:hover:before {
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #DCCA87;
    // border-top-color: #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: #DCCA87;
    border-right-color: #DCCA87;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: #DCCA87;
    border-right-color: #DCCA87;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.about__btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.about__btn:hover:after {
  animation: animate2 1s linear forwards;
}

@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #DCCA87;
  }

  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #DCCA87;
    border-left-color: #DCCA87;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #DCCA87;
    border-left-color: #DCCA87;
  }
}

.about__btn__text {
  z-index: 1000;
  position: relative;
  color: #DCCA87;
  background: none;
  font-size: 1.3rem;
  transition: all 1s linear;
}
.about__btn__text:hover {
  color: #DCCA87;
  text-decoration: none;
}
