.svg {
  width: 100%;
  height: 45rem;
  background-repeat: no-repeat;
}

.tableContainer {
  display: flex;
}

.tableInfoContainer {
  display: flex;
  flex-direction: column;
}

.mainContainer{
  height:auto;

  // width:70%;

  // width: 70%;
  // display :flex;
  // flex-wrap: wrap;

  .upperMenu {
    margin-top: 5rem;
  }
}

.pick_date{
  margin-bottom: 0.5rem;
  color: #fff;
  font-family: 'Oswald', cursive;
  font-size: 1.1rem;
}

.input_date{
  margin-right: 1rem;
  font-size: 0.9rem;
  border-radius: 0.2rem;
}

.input_time{
  margin-right: 1.1rem;
  font-size: 0.9rem;
  border-radius: 0.2rem;
}

.button{
  height: 1.5rem;
  width: 5.5rem;
  border-radius: 0.2rem;
  background-color: #2b68608a;
  font-size: 0.8rem;
  color:#fff;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

.pick_room{
  height: 1.5rem;
  width: 5.5rem;
  border-radius: 0.2rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  font-family: 'Comfortaa', cursive;
  font-size: 0.8rem;
  font-weight: bold;
  color:#fff;
  background-color: #cfa670;
  margin-bottom: 2rem;
}

.tableContainer{
  display: flex;
  flex-direction: column;
  height: auto;
}

.text{
  font-family: 'Comfortaa', cursive;
  // font-size: 0.8rem;
  // font-weight: bold;
  color:#fff;
}

.info_header{
  font-family: 'Oswald', cursive;
  color:#fff;
}
