.svg {
  max-width: 1000;
  width: 1000;
  max-height: 700;
  height: 700;
  background-repeat: no-repeat;
}

.tableContainer {
  display: flex;
}

.tableInfoContainer {
  display: flex;
  flex-direction: column;
}
