.find__block {
  display: flex;
  flex-direction: row;
  p {
    color: white;
    margin: 1.2rem 0.1rem 1rem 0.5rem;
  }
  input{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    height: 1.8rem;
    width:15rem;
    font-size: 1.5rem;
  }
}
