.card{
  width: 25rem;
  margin: 1.8rem 0rem 1rem 1rem ;
  color:black;
  background-color: white;
  padding-left: 1.2rem;
  padding-top: 1.5rem;
}

html{
  background-color: #0C0C0C;
}


.edit{
  width: 9.2rem;
  height: 1.7rem;
  background-color: #1e87f0;
  font-size: 1rem;
  color:white;
  margin-top: 0.5rem;
  margin-right: 0.6rem;
  font-family: 'Arial', cursive;
}

.delete{
  width: 5.2rem;
  height: 1.7rem;
  background-color: #1e87f0;
  font-size: 1rem;
  color:white;
  margin-top: 0.5rem;
  // font-family: 'Comfortaa', cursive;
}

.input{
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  height: 2rem;
  width:15rem;
  border-radius: 0.3rem;
}

.text{
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.block{
  display: flex;
  flex-direction: column;
}

.search{
  color: white;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.section{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
   
}

.button{
  display: flex;

}



.back{
  width: 5.2rem;
  height: 1.5rem;
  background-color: #1e87f0;
  font-size: 1rem;
  color:white;
  margin-top: 1rem;
  margin-right: 0.6rem;
  margin-left: 1rem;
}

.add{
  width: 12rem;
  height: 1.5rem;
  background-color: #1e87f0;
  font-size: 1rem;
  color:white;
  margin-top: 1rem;
  margin-right: 0.6rem;
  margin-left: 1rem;
}
