.content__div {
  background: #0C0C0C;
  background: #0C0C0C;
  background: #0C0C0C;
  background: #0C0C0C;
  // background: -moz-linear-gradient(top, #0C0C0C 0%, #AAAAAA 100%);
  // background: -webkit-linear-gradient(top, #0C0C0C 0%, #AAAAAA 100%);
  // background: linear-gradient(to bottom, #0C0C0C 0%, #061723 100%);
}
