.ab__container{
  height: auto;
  margin: 0 auto 5rem;
  width: 70%;
}

.main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  margin: 0 auto;  
}

.about__container {
  margin-bottom: -5rem;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  
  .paragraph {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
}

.pictures__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 100%;

  .first__img {
    background: url('https://gluten.org/wp-content/uploads/2019/10/Chef-GFFS-Restaurant.jpg') no-repeat
      center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 20rem;
    width: 50%;
    height: 70%;
    margin-left: 8rem;
    margin-bottom: 10rem;
  }
  
  .second__img {
    background: url('https://hardcore-electric.com/wp-content/uploads/chef-in-restaurant-kitchen.jpg') no-repeat
      center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 20rem;
    width: 50%;
    height: 70%;
    margin-right: 8rem;
    margin-bottom: 10rem;
  }
}



.about__img {
  background: url('https://ilmilanese.ru/wp-content/uploads/2018/04/about_1.jpg') no-repeat
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 20rem;
  width: 50%;
  height: 70%;
  margin-right: 6rem;
}


.chef__img {
  background: url('https://www.wmj.ru/imgs/2018/11/30/12/2840413/3aab19cf4b7400ec528ed1c278a0bda868019248.jpg') no-repeat
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 35rem;
  width: 50%;
  height: 70%;
  margin-right: 3rem;
}


.text_container {
  width: 50%;
  margin-right: 2rem;
}

.about__title {
  color: #DCCA87;
  font-size: 3rem;
}

.about__text {
  color: #AAAAAA;
  font-size: 1.3rem;
}

.paragraph {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
