.card {
  width: 15rem;
  height: 100%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;

  img {
    margin: 0.1rem;
    width: 14rem;
    height: 9rem;
    border-radius: 0.3rem;
  }

  .card__button {
    display: flex;
    flex-direction: column;
    width: 100%;
    button {
      width: 15rem;
      margin-top: 1rem;
    }
  }
  .card__body {
    display: flex;
    flex-direction: column;
  }
  .title {
    background-color: #0c0c0c;
    color: white;
    height: 3rem;
  }

  .buttonsGroup {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;

    .buttonMain {
      margin: 0.5rem 1rem;
      width: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1f87f0;
      color: #fff;
      font-size: 1rem;
      height: 2rem;
      padding: 1rem;
      border-radius: 0.1rem;
    }

    .buttonMain:active {
      background-color: #0d4a88;
    }
  }
}
