.nav__container {
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  border-bottom: 3px solid red;
}

.nav__container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__picture {
  width: 3rem;
  height: 3rem;
}
