.nav__container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: red;
}

.logo__picture {
  width: 3rem;
  display: inline-block;
}
