.sidebar {
  z-index: 1000;
  position: fixed;
  width: 13.5rem;
  left: -13.5rem;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.6);
  transition: all 0.5s ease;

  header {
    font-size: 1.8rem;
    line-height: 4.6rem;
    margin-top: 1.5rem;
    color: white;
    text-align: center;
    user-select: none;
  }
  ul {
    color: white;

    li {
      position: relative;
      right: 1.2rem;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 4rem;
      font-size: 1.4rem;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid black;
    }
  }
}

.sidebar__logo {
  width: 80%;
}

.sidebar__links {
  color: white;
  padding-left: 1.5rem;
  transition: 0.3s;
}

.sidebar__links:hover {
  color: #cfa670;
  text-decoration: none;
}

.sidebar ul li:hover .sidebar__links {
  padding-left: 3rem;
}

#check {
  z-index: 1111;
  display: none;
  position: absolute;
  left: 0;
}

label #btn {
  background: rgba($color: #1a1717, $alpha: 0.7);
  border-radius: 0.5rem;
}

label #btn,
label #cancel {
  position: fixed;
  left: 0;
  cursor: pointer;
}

label #btn {
  z-index: 1111;
  left: 0.5rem;
  top: 0.3rem;
  font-size: 2.7rem;
  color: white;
  padding: 0.3rem 0.6rem;
  transition: all 0.5s;
}

label #cancel {
  z-index: 1111;
  left: -11.8rem;
  top: 0.1rem;
  font-size: 1.3rem;
  color: white;
  padding: 0.2rem 0.4rem;
  transition: all 0.5s ease;
}

#check:not(:checked) ~ .sidebar {
  left: 0;
}

#check:not(:checked) ~ label #btn {
  left: 13.5rem;
  opacity: 0;
  pointer-events: none;
}

#check:not(:checked) ~ label #cancel {
  left: 11.8rem;
}

.navbar__container {
  z-index: 1111;
  display: flex;
  position: fixed;
  right: 0;
}

.navbar__links {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-top: 0.5rem;
  margin-right: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;

  transition: all 0.5s linear;

  // border: 1px solid rgba(50, 50, 50, 0.6);
}

.navbar__links button {
  margin-top: 0.2rem;
}


.navbar__links:first-child {
  background-color: #204d488a;
}

.navbar__links:first-child:hover {
  background-color: #cfa670;
}

.navbar__link {
  font-family: 'Comfortaa', cursive;
  font-size: 1.1rem;
  background: none;
  cursor: pointer;
  position: relative;
  color: white;
  opacity: 0.8;
  transition: opacity 0.5s linear;
}


.navbar__link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  width: 0;
  height: 0;
  border: 1px solid transparent;
}

.navbar__link:hover:after {
  animation: animate 0.3s linear forwards;
}

@keyframes animate {
  100% {
    width: 100%;
    border-bottom-color: #fff;
  }
}

.navbar__link:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.select{
  margin-right: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  background-color: #204d488a;
  color: white;
}
