.order__title {
  margin-left: 1rem;
  color: white;
}

.container {
  height: 100vh;
  background-color: #0c0c0c;

  .listButton {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0rem 0.5rem;
    background-color: #1e87f0;
    border-radius: 0.1rem;
    color: white;
    text-transform: uppercase;
    width: auto;
    font-size: 1rem;
    margin: 1rem;
  }
  .backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0rem 0.5rem;
    background-color: #1e87f0;
    border-radius: 0.1rem;
    color: white;
    text-transform: uppercase;
    width: 9rem;
    font-size: 1rem;
    margin: 1rem;
  }

  .hoverRow {
    background-color: white;
  }

  .hoverRow:hover {
    background-color: green;
  }

  table {
    // background-color: gray;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid black;

    thead {
      background-color: #1E87F0;
      td {
        text-align: center;
        font-weight: bold;
        color: white;
      }
    }

    tbody {
      border: 2px solid black;
      tr {
        background-color: white;

        td {
          color: black;
          text-align: center;
        }
      }
    }
  }
}
