.container {
  background-color: white;

  .listButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0rem 0.5rem;
    background-color: #1e87f0;
    border-radius: 0.1rem;
    color: white;
    text-transform: uppercase;
    width: 18rem;
    font-size: 14pt;
  }

  .hoverRow {
    background-color: white;
  }

  .hoverRow:hover {
    background-color: green;
  }

  table {
    // background-color: gray;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid black;

    thead {
      background-color: #1E87F0;
      td {
        text-align: center;
        font-weight: bold;
        color: black;
      }
    }

    tbody {
      border: 2px solid black;
      tr {
        background-color: white;

        td {
          color: black;
          text-align: center;
        }
      }
    }
  }
}
