.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35rem;
  margin: 5rem 0;
  legend {
    margin-left: 8rem;
    margin-bottom: 2rem;
  }
  fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    label {
      margin-bottom: -1rem;
      padding: 0;
      color: white;
    }
    div:first{
      margin: -1rem;
    }
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .submit__btn{
      margin: 2rem 0 1rem 0;
      align-items: center;
      width: 10rem;
    }
    .double__input {
      margin-bottom: 0rem;
      display: flex;
      flex-direction: row;
      .select__input{
        width: 7rem;
        margin-left: 1rem;
      }
    }
  }
}

.margin__left {
  margin: 2rem 0 2rem 9.3rem;
}

.form__block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back_btn{
  background-color: white;
}

.back_btn:hover {
  background-color: #1e87f0;
}


