
.card{
  width: 25rem;
  // height: 100vh;
  margin: 1.8rem 0rem 1rem 1rem;
  color:black;
  
}

.edit{
  width: 9.2rem;
  height: 1.7rem;
  background-color: #1e87f0;
  font-size: 1rem;
  color:white;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  margin-right: 0.6rem;
  font-family: 'Arial', cursive;
}

.delete{
  width: 5.2rem;
  height: 1.7rem;
  background-color: #1e87f0;
  font-size: 1rem;
  color:white;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  // font-family: 'Comfortaa', cursive;
}

.text{
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
