.container {
 height:76vh;
 margin-top: 15rem;
 color:white;
 
 .button{
   margin-left: 0.3rem;
   margin-right: 0.3rem;
   cursor: pointer;

   font-size: 1.2rem;
   height: 1.5rem;
   width: 6rem;
   position: relative;

   width: 10rem;
   border-radius: 0.3rem;
   margin-top: 0.5rem;
   color: #fff;
   background-color: #2b68608a;
   font-family: 'Comfortaa', cursive;
   font-weight: bold;
 }
}
