.nav {
  div{
    margin-left: 8rem;
    ul{
      li{
        padding: 0 2rem;
      }
      li:hover {
        background-color: #1e87f0;
      }
    }
  }
}

.content {
  position: relative;
}

.counter {
  color: black;
  border-radius: 50%;
  background-color: rgb(196, 39, 39);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 1.2rem;
  width: 1.2rem;
  top: 1.4rem;
  left: 6.4rem;
  z-index: 3; 
  opacity: 0.8;
}

.counter2 {
  color: black;
  border-radius: 50%;
  background-color: rgb(196, 39, 39);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 1.2rem;
  width: 1.2rem;
  top: 1.4rem;
  left: 11rem;
  z-index: 3; 
  opacity: 0.8;
}
