.container {
  background-color: white;

  .listButton {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0rem 0.5rem;
    background-color: #1e87f0;
    border-radius: 0.1rem;
    color: white;
    text-transform: uppercase;
    width: auto;
    font-size: 1rem;
    margin: 1rem;
  }
  .backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0rem 0.5rem;
    background-color: #1e87f0;
    border-radius: 0.1rem;
    color: white;
    text-transform: uppercase;
    width: 9rem;
    font-size: 1rem;
    margin: 1rem;
  }

  table {
    // background-color: gray;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid black;

    table {
      margin: 0.5rem;
      thead{
        font-size: 11pt;
      }
      tbody {
        tr{
          border-top: 1px solid black;
          background-color: rgb(38, 173, 90);
        }
        td {
          font-size: 10pt;
          text-transform: lowercase;
        }
        button {
          background-color: #1e87f0;
          width: 1rem;
          height: 1rem;
          font-weight: bolder;
          font-size: 15pt;
        }
      }
    }

    thead {
      background-color: #1e87f0;
      td {
        text-align: center;
        font-weight: bold;
        color: white;
      }
    }

    tbody {
      border: 2px solid black;
      tr {
        background-color: white;

        td {
          color: black;
          text-align: center;
        }
      }
    }
  }

  .hoverRow {
    background-color: white;
  }

  .hoverRow:hover {
    background-color: green;
  }
}
