/* General settings */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: clamp(7px, calc(100vw / 90), 22px);
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: #0c0c0c;
  font-family: 'Comfortaa', cursive;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
  margin: 0;
  padding: 0;
}
