.table {
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

td {
  white-space: wrap;
  width: 7rem;
  text-align: start;
  color: #fff;
  font-family: 'Comfortaa', cursive;
}

.scale {
  height: 1.5rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  // background-color: #cfa670;
  // color:#fff;
  // opacity: 60%;
  font-size: 1rem;
  width: 4rem;
  // text-align: center;
}

.delete {
  cursor: pointer;
  font-size: 1rem;
  height: 1.5rem;
  position: relative;
  left: 2.35rem;
  transform: translateX(-50%);
  width: 5rem;
  border-radius: 0.3rem;
  background-color: #cfa670;
  color: #fff;
  margin-top: 0.2rem;
}

.plus__btn, .minus__btn {
  cursor: pointer;
  padding-bottom: 20px;
}

.quantityContainer {
  display: flex;
  align-items: center;

  p {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    color: black;
    width: 2rem;
    border-radius: 5px;
  }

  button {
    width: 1rem;
    height: 1rem;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 14pt;
    background-color: #cfa670;
  }
}
