.main__container {
  position: relative;
  align-items: space-between;
  height: 50vh;
  width: 70%;
  margin: 0 auto 6rem;
}

.slider {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.navigation {
  position: absolute;
  bottom: 1.7rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  height: 0.5rem;
  width: 2rem;
  margin: 0.4rem;
  // margin-top: 2rem;
  cursor: pointer;
  background-color: #cfa670;
  opacity: 0.5;
  border-radius: 0.3rem;
  transition: all 0.3s ease;
}

.bar:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

input[name='r'] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 410%;
  height: 100%;
  display: flex;
}

.slide {
  width: 25%;
  transition: all 0.6s ease;
}

.slide img {
  width: 23.4%;
  height: 100%;
  margin-right: 1rem;
  object-fit: cover;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -25%;
}

#r3:checked ~ .s1 {
  margin-left: -50%;
}
#r4:checked ~ .s1 {
  margin-left: -75%;
}

.slider__btn {
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -30%);
  background: none;
  padding: 0.4rem;
}

.slider__btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.slider__btn:hover:before {
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #dcca87;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: #dcca87;
    border-right-color: #dcca87;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: #dcca87;
    border-right-color: #dcca87;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.slider__btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.slider__btn:hover:after {
  animation: animate2 1s linear forwards;
}

@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #dcca87;
  }

  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #dcca87;
    border-left-color: #dcca87;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #dcca87;
    border-left-color: #dcca87;
  }
}

.slider__btn__text {
  z-index: 1000;
  position: relative;
  color: #dcca87;
  background: none;
  font-size: 1.3rem;
  transition: all 1s linear;
}

.slider__btn__text:hover {
  color: #dcca87;
  text-decoration: none;
}
